
body {
    font-family: 'Avenir', 'Arimo', 'sans-serif';
    background-color:#f4f9fc;
    color:#192943;
    overflow: hidden;
    }

h1 {
    font-size: calc(1.6vw + 2.4vh);
    font-weight: 900;
    }

h2 {
    font-size: calc(1.2vw + 1.8vh);
    font-weight: 500;
    }

h3 {
    font-size: calc(0.9vw + 1.35vh);
    font-weight: 500;
}

p {
    font-size: calc(0.8vw + 1.2vh);
    }

a {
    color:inherit;
    text-decoration: none;
    }


.menu-bar {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    background-color:#f4f9fc;
    color:#192943;
    z-index: 100;
    }


.menu-item-left {
    text-align: center;
    display: block;
    float: left;
    margin-top:0px;
    margin-left:15px;
    margin-right:0px;
}

.menu-item-right {
    text-align: center;
    display: block;
    float: right;
    font-size:15pt;
    margin-top:20px;
    margin-left:0px;
    margin-right:30px;
    }

.menu-item-right a {
    padding-left: 10px;
    padding-right: 10px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(calc(50vh - 50%));
    }

.gallery-item p {
    text-align: center;
    }


.gallery img {
    display:inline-block;
    float: center;
    max-height: 55vh;
    max-width: 95vw;
    }


.gallery p {
    font-style: italic;
    margin:0px;
    }



@media screen and (max-aspect-ratio: 1/1) {
.gallery {
    transform: translateY(calc(33vh - 50%));
    }
.menu-bar {
    padding-top: 0.5vh;
    position: relative;
    }
.menu-item-left {
    float: none;
    margin: auto;
    margin-bottom: 0;
    padding-bottom 0;
    }
.menu-item-right {
    top: 50px;
    float: none;
    margin: auto;
    margin-bottom: 0;
    padding-bottom 0;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
    visbility: hidden;
    }

