
body {
    font-family: 'Avenir', 'sans-serif';
    background-color:#f4f9fc;
    color:#192943;
    text-align: center;
    }

h1 {
    font-size: 32pt;
    font-weight: 900;
    }

h2 {
    font-size: 28pt;
    font-weight: 500;
    }

h3 {
    font-size: 18pt;
    font-weight: 500;
}

p {
    font-size: 13pt;
    }

a {
    color:inherit;
    text-decoration: none;
    }


.menu-bar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#f4f9fc;
    color:#192943;
    }


.menu-item-left {
    text-align: center;
    display: block;
    float: left;
    margin-top:0px;
    margin-left:15px;
    margin-right:0px;
}

.menu-item-right {
    text-align: center;
    display: block;
    float: right;
    font-size:15pt;
    margin-top:20px;
    margin-left:0px;
    margin-right:30px;
    }

.menu-item-right a {
    padding-left: 10px;
    padding-right: 10px;
}

.gallery {
    display: flex;
    text-align: center;
    align-items: center;
    }


.active {
    }


.gallery img {
    display:inline-block;
    float: center;
    margin: 20px;
    max-height: 55vh;
    max-width: 95vw;
    }


.gallery p {
    font-style: oblique;
    margin:0px;
    }



@media screen and (max-width: 800px) {
.menu-item-left {
    float: none;
    margin: auto;
    margin-bottom: 0;
    padding-bottom 0;
    }
.menu-item-right {
    top: 50px;
    float: none;
    margin: auto;
    margin-bottom: 0;
    padding-bottom 0;
    padding-top: 0p;
    padding-left: 50px;
    padding-right: 50px;
    visbility: hidden;
    }

